{% block stylesheets %}
<link rel="manifest" href="{{asset('assets/images/favicons/site.webmanifest')}}">
              

    <!-- plugin scripts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('assets/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/swiper.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/dimon-icons/style.css')}}">

    <!-- template styles -->
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/responsive.css')}}">




<!--template2 back-->
     <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{{asset('assets/vendor/nucleo/css/nucleo.css')}}" type="text/css">
  <link rel="stylesheet" href="{{asset('assets/vendor/@fortawesome/fontawesome-free/css/all.min.css')}}" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{{asset('assets/css/argon.css?v=1.2.0')}}" type="text/css">
  <style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       body{
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       .height{
        height: 50vh;
       }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }</style>
{% endblock %}

 {% block javascripts %}
      <script src="{{asset('assets/js/jquery.min.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('assets/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('assets/js/waypoints.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.counterup.min.js')}}"></script>
    <script src="{{asset('assets/js/TweenMax.min.js')}}"></script>
    <script src="{{asset('assets/js/wow.js')}}"></script>
    <script src="{{asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{asset('assets/js/swiper.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.easing.min.js')}}"></script>

    <!-- template scripts -->
    <script src="{{asset('assets/js/theme.js')}}"></script>




<!--template2 back-->

<script src="{{asset('assets/vendor/jquery/dist/jquery.min.js')}}"></script>
 <script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
 <script src="{{asset('assets/vendor/js-cookie/js.cookie.js')}}"></script>
  <script src="{{asset('assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js')}}"></script>
  <script src="{{asset('assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js')}}"></script>
  <!-- Optional JS -->
  <script src="{{asset('assets/vendor/chart.js/dist/Chart.min.js')}}"></script>
  <script src="{{asset('assets/vendor/chart.js/dist/Chart.extension.js')}}"></script>
  <!-- Argon JS -->
  <script src="{{asset('assets/js/argon.js?v=1.2.0')}}"></script>

        {% endblock %}  


{% block body %} 
{% block header %}
  <!-- Main content -->
  
  <header>
  <div class="collapse bg-dark" id="navbarHeader" bis_skin_checked="1">
    <div class="container" bis_skin_checked="1">
      <div class="row" bis_skin_checked="1">
        <div class="col-sm-8 col-md-7 py-4" bis_skin_checked="1">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4" bis_skin_checked="1">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm" bis_skin_checked="1">
    <div class="container d-flex justify-content-between" bis_skin_checked="1">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img src="{{asset('assets/img/brand/brand1.png')}}" class="navbar-brand-img" alt="..." style="width:30%;height:30%">
      
      </a>
      <div class="navbar-nav ml-auto action-buttons">
			<div class="nav-item dropdown" style="margin-right:10px">
			
             
						<a href="login" class="btn btn-primary btn-block">Login</a>

						
                </div>
			</div>
			<div class="nav-item dropdown">
				
						<a href="register" class="btn btn-primary btn-block">Sign up</a>
					
				</div>
			</div>
        </div>
	</div>
    </div>
  </div>
</header>

     {% endblock %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            margin-top: 0px;
            background:#eee;
            color: #708090;
        }

        .shadow {
            box-shadow: 0 0 3px rgb(53 64 78 / 20%) !important;
        }

        .rounded {
            border-radius: 5px !important;
        }

        .bg-light {
            background-color: #f7f8fa !important;
        }

        .bg-primary,
        .btn-primary,
        .btn-outline-primary:hover,
        .btn-outline-primary:focus,
        .btn-outline-primary:active,
        .btn-outline-primary.active,
        .btn-outline-primary.focus,
        .btn-outline-primary:not(:disabled):not(.disabled):active,
        .badge-primary,
        .nav-pills .nav-link.active,
        .pagination .active a,
        .custom-control-input:checked~.custom-control-label:before,
        #preloader #status .spinner>div,
        .social-icon li a:hover,
        .back-to-top:hover,
        .back-to-home a,
        ::selection,
        #topnav .navbar-toggle.open span:hover,
        .owl-theme .owl-dots .owl-dot.active span,
        .owl-theme .owl-dots.clickable .owl-dot:hover span,
        .watch-video a .play-icon-circle,
        .sidebar .widget .tagcloud>a:hover,
        .flatpickr-day.selected,
        .flatpickr-day.selected:hover,
        .tns-nav button.tns-nav-active,
        .form-check-input.form-check-input:checked {
            background-color: #5e72e4 !important;
        }

        .badge {
            padding: 5px 8px;
            border-radius: 3px;
            letter-spacing: 0.5px;
            font-size: 12px;
        }

        .btn-primary,
        .btn-outline-primary:hover,
        .btn-outline-primary:focus,
        .btn-outline-primary:active,
        .btn-outline-primary.active,
        .btn-outline-primary.focus,
        .btn-outline-primary:not(:disabled):not(.disabled):active {
            box-shadow: 0 3px 7px rgb(109 199 122 / 50%) !important;
        }

        .btn-primary,
        .btn-outline-primary,
        .btn-outline-primary:hover,
        .btn-outline-primary:focus,
        .btn-outline-primary:active,
        .btn-outline-primary.active,
        .btn-outline-primary.focus,
        .btn-outline-primary:not(:disabled):not(.disabled):active,
        .bg-soft-primary .border,
        .alert-primary,
        .alert-outline-primary,
        .badge-outline-primary,
        .nav-pills .nav-link.active,
        .pagination .active a,
        .form-group .form-control:focus,
        .form-group .form-control.active,
        .custom-control-input:checked~.custom-control-label:before,
        .custom-control-input:focus~.custom-control-label::before,
        .form-control:focus,
        .social-icon li a:hover,
        #topnav .has-submenu.active.active .menu-arrow,
        #topnav.scroll .navigation-menu>li:hover>.menu-arrow,
        #topnav.scroll .navigation-menu>li.active>.menu-arrow,
        #topnav .navigation-menu>li:hover>.menu-arrow,
        .flatpickr-day.selected,
        .flatpickr-day.selected:hover,
        .form-check-input:focus,
        .form-check-input.form-check-input:checked,
        .container-filter li.active,
        .container-filter li:hover {
            border-color: #5e72e4 !important;
        }

        .bg-primary,
        .btn-primary,
        .btn-outline-primary:hover,
        .btn-outline-primary:focus,
        .btn-outline-primary:active,
        .btn-outline-primary.active,
        .btn-outline-primary.focus,
        .btn-outline-primary:not(:disabled):not(.disabled):active,
        .badge-primary,
        .nav-pills .nav-link.active,
        .pagination .active a,
        .custom-control-input:checked~.custom-control-label:before,
        #preloader #status .spinner>div,
        .social-icon li a:hover,
        .back-to-top:hover,
        .back-to-home a,
        ::selection,
        #topnav .navbar-toggle.open span:hover,
        .owl-theme .owl-dots .owl-dot.active span,
        .owl-theme .owl-dots.clickable .owl-dot:hover span,
        .watch-video a .play-icon-circle,
        .sidebar .widget .tagcloud>a:hover,
        .flatpickr-day.selected,
        .flatpickr-day.selected:hover,
        .tns-nav button.tns-nav-active,
        .form-check-input.form-check-input:checked {
            background-color: #5e72e4 !important;
        }

        .btn {
            padding: 8px 20px;
            outline: none;
            text-decoration: none;
            font-size: 16px;
            letter-spacing: 0.5px;
            transition: all 0.3s;
            font-weight: 600;
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #5e72e4 !important;
            border: 1px solid #5e72e4 !important;
            color: #fff !important;
            box-shadow: 0 3px 7px rgb(109 199 122 / 50%);
        }

        a {
            text-decoration: none;
        }
        .icon-1x {
            font-size: 24px !important;
        }

        .text-primary, a.text-primary:focus, a.text-primary:hover {
            color: #00ADBB!important;
        }
        .text-black, .text-hover-black:hover {
            color: #000 !important;
        }
        .font-weight-bold {
        font-weight: 700 !important;
        }
    </style>
    <script>
    function upVoteFunction(reponse) {
    // Make an AJAX request to update the vote count
    const url = '/update-voterep';
    const data = new FormData();
    data.append('reponse', reponse);
    data.append('action', 'up');

    fetch(url, {
        method: 'POST',
        body: data,
    })
    .then(response => response.json())
    .then(data => {
        // Update the vote count in the DOM
        const voteCountElement = document.getElementById(`vote-count-${reponse}`);
        voteCountElement.innerText = data.voteCount;
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function downVoteFunction(reponse) {
    // Make an AJAX request to update the vote count
    const url = '/update-voterep';
    const data = new FormData();
    data.append('reponse', reponse);
    data.append('action', 'down');

    fetch(url, {
        method: 'POST',
        body: data,
    })
    .then(response => response.json())
    .then(data => {
        // Update the vote count in the DOM
        const voteCountElement = document.getElementById(`vote-count-${reponse}`);
        voteCountElement.innerText = data.voteCount;
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

    </script>
</head>

<body>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <div class="container mt-5 pt-4">
   
        <div class="row align-items-end mb-4 pb-2">
            <div class="col-md-8">
                <div class="section-title text-center text-md-start">
                </div>
            </div>
            <div class="col-md-4 mt-4 mt-sm-0 d-none d-md-block">
                <div class="text-center text-md-end">
                </div>
            </div>
        </div>


        <div class="row">
            {% for reponse in r %}
                <div class="col-lg-4 col-md-6 col-12 mt-2 pt-2">
                    <div class="card border-0 bg-light rounded shadow">
                        <div class="card-body p-4">
                            <h5 style="text-align:center;">{{reponse.contenuR}}</h5>
                            <div class="mt-3"style="text-align:center;"">
                                <span class="text-muted d-block" ><i class="fa fa-calendar" aria-hidden="true" ></i> <a
                                    href="#" target="_blank"
                                    class="text-muted" >{{reponse.dateAjoutR|date('Y-m-d')}}</a></span>
                                <span class="text-muted d-block">
                       <i class="fa fa-arrow-up vote-arrow" aria-hidden="true" onclick="upVoteFunction('{{ reponse.idR }}')"></i>
                        <span id="vote-count-{{ reponse.idR }}">{{ reponse.voteR }}</span>
                       <i class="fa fa-arrow-down" aria-hidden="true" onclick="downVoteFunction('{{ reponse.idR }}')"></i>
                    </span>
                                    
                            </div>
                        
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>
    {% endblock %}
   
 <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Capabilities of Nexus</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="border-radius: 8px; width: 45px; height: 45px">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16">
  <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
  <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
</svg>
          
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Explore</h3>
          <p>Discover random questions and their appropriate answers provided by users this can take you anywhere!</p>
          <a href="#" class="btn btn-primary">
            Primary button
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
        style="border-radius: 8px; width: 45px; height: 45px">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
  <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
</svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Popular now</h3>
          <p>See what's taking the spotlight and what's grabing the attention of users this moment.</p>
          <a href="#" class="btn btn-primary">
            Primary button
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
        style="border-radius: 8px; width: 45px; height: 45px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-terminal-x" viewBox="0 0 16 16">
  <path d="M2 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V4a1 1 0 0 0-1-1H2Z"/>
  <path d="M3.146 5.146a.5.5 0 0 1 .708 0L5.177 6.47a.75.75 0 0 1 0 1.06L3.854 8.854a.5.5 0 1 1-.708-.708L4.293 7 3.146 5.854a.5.5 0 0 1 0-.708ZM5.5 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5ZM16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0Z"/>
</svg>        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Unsolved</h3>
          <p>Be an active member of Nexus and help users by suggesting solutions
          to their most triggering problems/bugs.</p>
          <a href="#" class="btn btn-primary">
            Primary button
          </a>
        </div>
      </div>
    </div>
  </div>
 {% block footer %}
      <footer class="py-3 my-4" >

    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Company, Inc</p>

  </footer>
        
{% endblock %}