{% extends 'front.html.twig' %}

{% block body %}
    
{% block content %}



    <div class="d-flex justify-content-start align-items-right" style="height: 100%;width: 70%; margin-left: 10%; font-size: 20px;">
    <div class="container" style="margin-top: 1%">
        <h1 style="width: 100vh; ">Ask Nexus members..</h1>

        {{ form_start(questionForm, {'attr': {'class': 'form'}}) }}
        <div class="form-group">
            {{ form_label(questionForm.titreQ, 'Title') }}
            {{ form_widget(questionForm.titreQ, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(questionForm.contenuQ, 'Content') }}
            {{ form_widget(questionForm.contenuQ, {'attr': {'class': 'form-control', 'style': 'height: 200px;'}}) }}

        </div>

        <div class="form-group">
            {{ form_label(questionForm.typeQ, 'Type') }}
            {{ form_widget(questionForm.typeQ, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group" style="display: none;">
            {{ form_label(questionForm.idU, 'User') }}
            {{ form_widget(questionForm.idU, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top: 0%">Create</button>
        {{ form_end(questionForm) }}
    </div>
</div>


    {{ form_end(questionForm) }}
{% endblock %}
{% endblock %}
