{% block stylesheets %}
<link rel="manifest" href="{{asset('assets/images/favicons/site.webmanifest')}}">
              

    <!-- plugin scripts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('assets/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/swiper.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/dimon-icons/style.css')}}">

    <!-- template styles -->
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/responsive.css')}}">




<!--template2 back-->
     <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{{asset('assets/vendor/nucleo/css/nucleo.css')}}" type="text/css">
  <link rel="stylesheet" href="{{asset('assets/vendor/@fortawesome/fontawesome-free/css/all.min.css')}}" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{{asset('assets/css/argon.css?v=1.2.0')}}" type="text/css">
  <style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       body{
        background-color:#fff;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       
       }

       .height{
        height: 50vh;
       }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }
       .social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}</style>
{% endblock %}

 {% block javascripts %}
      <script src="{{asset('assets/js/jquery.min.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('assets/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('assets/js/waypoints.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.counterup.min.js')}}"></script>
    <script src="{{asset('assets/js/TweenMax.min.js')}}"></script>
    <script src="{{asset('assets/js/wow.js')}}"></script>
    <script src="{{asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{asset('assets/js/swiper.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.easing.min.js')}}"></script>

    <!-- template scripts -->
    <script src="{{asset('assets/js/theme.js')}}"></script>




<!--template2 back-->

<script src="{{asset('assets/vendor/jquery/dist/jquery.min.js')}}"></script>
 <script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
 <script src="{{asset('assets/vendor/js-cookie/js.cookie.js')}}"></script>
  <script src="{{asset('assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js')}}"></script>
  <script src="{{asset('assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js')}}"></script>
  <!-- Optional JS -->
  <script src="{{asset('assets/vendor/chart.js/dist/Chart.min.js')}}"></script>
  <script src="{{asset('assets/vendor/chart.js/dist/Chart.extension.js')}}"></script>
  <!-- Argon JS -->
  <script src="{{asset('assets/js/argon.js?v=1.2.0')}}"></script>

        {% endblock %}  


{% block body %} 
 
   {% block header %}
   
  <!-- Main content -->
  
  <header>
  <div class="collapse bg-dark" id="navbarHeader" bis_skin_checked="1">
    <div class="container" bis_skin_checked="1">
      <div class="row" bis_skin_checked="1">
        <div class="col-sm-8 col-md-7 py-4" bis_skin_checked="1">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4" bis_skin_checked="1">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm" bis_skin_checked="1">
    <div class="container d-flex justify-content-between" bis_skin_checked="1">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="{{asset('assets/img/brand/brand1.png')}}" class="navbar-brand-img" alt="..." style="width:30%;height:30%">
      
      </a>
      <div class="navbar-nav ml-auto action-buttons">
			<div class="nav-item dropdown" style="margin-right:10px">
			
             
						<a href="login" class="btn btn-primary btn-block">Login</a>

						
                </div>
			</div>
			<div class="nav-item dropdown">
				
						<a href="register" class="btn btn-primary btn-block">Sign up</a>
					
				</div>
			</div>
        </div>
	</div>
    </div>
  </div>
</header>

     {% endblock %}
     <section>
     <div class="container">

                    <div class="row height d-flex justify-content-center align-items-center">

                      <div class="col-md-8">
                      <h8 style="font-size:50px;"> Ask a Question </h8>
                        <div style="margin-top:30px" class="search">
                          <i class="fa fa-search"></i>
                          <input type="text" class="form-control" placeholder="Have a question? Ask Now" >
                          <form method="POST" action="{{ path('search_routevisitor') }}">
  <button type="submit" class="btn btn-primary">Search</button>
</form>
                        </div>
                        
                      </div>
                      
                    </div>
                </div>
             
               

</div>
<hr class="hr" />
<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Empower Your Coding Community</h2>
        <p class="font-italic text-muted mb-4">Join Nexus, the leading platform designed for developers and programmers. Collaborate, learn, and find solutions together with a vibrant community of coding enthusiasts.</p>
        <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto">
        <img src="{{asset('assets/img/brand/hero-impact-of-technology-on-business.jpg')}}" alt="" class="img-fluid mb-4 mb-lg-0">
      </div>
      <div class="col-lg-6">
        <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Expand Your Coding Knowledge</h2>
        <p class="font-italic text-muted mb-4">Explore a vast repository of coding knowledge, tutorials, and resources on Nexus. Enhance your skills, stay updated with industry trends, and level up your programming journey.</p>
        <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
    </div>
  </div>
</div>
</section>

   <hr class="hr" />
 {% block footer %}
      <footer class="py-3 my-4" >

    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Company, Inc</p>

  </footer>
        {% endblock %}
{% endblock %}