{% extends 'front.html.twig' %}

{% block title %}SymRecipe - Modification de l'utilisateur
{% endblock %}
{% block stylesheets %}
	<style>
		body {
			margin-top: 20px;
			background-color: #f2f6fc;
			color: #69707a;
		}
		.img-account-profile {
			height: 10rem;
		}
		.rounded-circle {
			border-radius: 50% !important;
		}
		.card {
			box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
		}
		.card .card-header {
			font-weight: 500;
		}
		.card-header:first-child {
			border-radius: 0.35rem 0.35rem 0 0;
		}
		.card-header {
			padding: 1rem 1.35rem;
			margin-bottom: 0;
			background-color: rgba(33, 40, 50, 0.03);
			border-bottom: 1px solid rgba(33, 40, 50, 0.125);
		}
		.form-control,
		.dataTable-input {
			display: block;
			width: 100%;
			padding: 0.875rem 1.125rem;
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1;
			color: #69707a;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #c5ccd6;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0.35rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}

		.nav-borders .nav-link.active {
			color: #0061f2;
			border-bottom-color: #0061f2;
		}
		.nav-borders .nav-link {
			color: #69707a;
			border-bottom-width: 0.125rem;
			border-bottom-style: solid;
			border-bottom-color: transparent;
			padding: 0.5rem 0;
			margin-left: 1rem;
			margin-right: 1rem;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="text-center">Modification du profil de
					{{ app.user.prenomU }}</h1>
				<form action="{{ path('app_modifier') }}" method="POST">
					{{ form_start(ModifierType, {'attr': {'class': 'form'}}) }}
					<div class="form-group">
						{{ form_label(ModifierType.emailU, null, {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(ModifierType.emailU, {'attr': {'class': 'form-control', 'style': 'margin-bottom: 10px'}}) }}
						{{ form_errors(ModifierType.emailU) }}
					</div>
					<div class="form-group">
						{{ form_label(ModifierType.NomU, null, {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(ModifierType.NomU, {'attr': {'class': 'form-control', 'style': 'margin-bottom: 10px'}}) }}
						{{ form_errors(ModifierType.NomU) }}
					</div>
					<div class="form-group">
						{{ form_label(ModifierType.prenomU, null, {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(ModifierType.prenomU, {'attr': {'class': 'form-control', 'style': 'margin-bottom: 10px'}}) }}
						{{ form_errors(ModifierType.prenomU) }}
					</div>
					<div class="form-group">
						{{ form_label(ModifierType.sexeU, null, {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(ModifierType.sexeU, {'attr': {'class': 'form-control', 'style': 'margin-bottom: 10px'}}) }}
						{{ form_errors(ModifierType.sexeU) }}
					</div>
					<div class="form-group">
						{{ form_label(ModifierType.DateNaissanceU, null, {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(ModifierType.DateNaissanceU, {'attr': {'class': 'form-control', 'style': 'margin-bottom: 10px'}}) }}
						{{ form_errors(ModifierType.DateNaissanceU) }}
					</div>

					<!-- Add other form fields here -->

					<div class="form-group">
						{{ form_widget(ModifierType.Modifier, {'attr': {'class': 'form-control', 'style': 'margin-bottom: 10px'}}) }}
					</div>
					<div class="form-group"></div>
					{{ form_end(ModifierType) }}
					<a href="{{ path('user.delete', {'id': app.user.idU}) }}" onclick="return confirm('Are you sure you want to delete this user?')" class="btn btn-danger">Supprimer</a>
					<a href="{{ path('user.edit.password', {'id': app.user.idU}) }}" class="btn btn-info">Modifier le mot de passe</a>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
